# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Secrets (VERY IMPORTANT)
credentials.json
token.pickle

# Build files
build/
dist/
*.spec

# System files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/